{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <form>
        <input type="text" name="article_query" placeholder="Search for a Article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

    <!-- entertainment articles section  -->
    <h3 style="text-align: center;"> <b>Entertainment Articles</b></h3>
     <ul>
        {{ macro.displayArticleList(entertainment)}}
    </ul>

    <!-- business articles section  -->
    <h3 style="text-align: center;margin-top: 2%;"> <b>Business Articles</b></h3>
    <ul>
        {{ macro.displayArticleList(business)}}
    </ul>

    <!-- health articles section  -->
    <h3 style="text-align: center;margin-top: 2%;"> <b>Health Articles</b></h3>
    <ul>
        {{ macro.displayArticleList(health)}}
    </ul>
{% endblock %}