{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block content %}
    <!-- entertainment articles section  -->
    <h3> Entertainment Articles</h3>
     <ul>
        {{ macro.displayArticleList(entertainment)}}
    </ul>

    <!-- business articles section  -->
    <h3> Business Articles</h3>
    <ul>
        {{ macro.displayArticleList(business)}}
    </ul>

    <!-- health articles section  -->
    <h3> Health Articles</h3>
    <ul>
        {{ macro.displayArticleList(health)}}
    </ul>
{% endblock %}